{% load static%}
<div class="banner-right-text">
    <h3 class="tittle">Categories <i class="glyphicon glyphicon-facetime-video"></i></h3>
    <!--/general-news-->
    <div class="general-news">
        <div class="general-inner">
            <div class="general-text">
<!--                <a href="single.html"><img src="{% static 'images/gen1.jpg'%}" class="img-responsive" alt=""></a>-->
<!--                <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>-->
<!--                <p>kenan eratsed diam justo duo dolores rebum.</p>-->
<!--                <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a-->
<!--                        class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a-->
<!--                        class="span_link" href="single.html"><span-->
<!--                        class="glyphicon glyphicon-circle-arrow-right"></span></a></p>-->
            </div>
            <div class="edit-pics">
                <div class="editor-pics">
					{% for rs in category %}
                    <div class="col-md-3 item-pic">
                       <a href="/category/{{rs.id}}/{{rs.slug}}"> <img src="{{rs.image.url}}" class="img-responsive" alt=""> </a>

                    </div>


                    <div class="col-md-9 item-details">
                        <h5 class="inner two"><a href="/category/{{rs.id}}/{{rs.slug}}">{{ rs.title}}</a></h5>
                        <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>{{rs.created_on}} <a
                                href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                    </div>
                    {% endfor%}
                    <div class="clearfix"></div>
                </div>
<!--                <div class="editor-pics">-->
<!--                    <div class="col-md-3 item-pic">-->
<!--                        <img src="{% static 'images/f1.jpg'%}" class="img-responsive" alt="">-->

<!--                    </div>-->
<!--                    <div class="col-md-9 item-details">-->
<!--                        <h5 class="inner two"><a href="single.html">New iPad App to simulate your Guitar</a></h5>-->
<!--                        <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a-->
<!--                                href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>-->
<!--                    </div>-->
<!--                    <div class="clearfix"></div>-->
<!--                </div>-->
<!--                <div class="editor-pics">-->
<!--                    <div class="col-md-3 item-pic">-->
<!--                        <img src="{% static 'images/f1.jpg'%}" class="img-responsive" alt="">-->

<!--                    </div>-->
<!--                    <div class="col-md-9 item-details">-->
<!--                        <h5 class="inner two"><a href="single.html">New iPad App to simulate your Guitar</a></h5>-->
<!--                        <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a-->
<!--                                href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>-->
<!--                    </div>-->
<!--                    <div class="clearfix"></div>-->
<!--                </div>-->
<!--                <div class="editor-pics">-->
<!--                    <div class="col-md-3 item-pic">-->
<!--                        <img src="{% static 'images/f4.jpg'%}" class="img-responsive" alt="">-->

<!--                    </div>-->
<!--                    <div class="col-md-9 item-details">-->
<!--                        <h5 class="inner two"><a href="single.html">New iPad App to simulate your Guitar</a></h5>-->
<!--                        <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a-->
<!--                                href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>-->
<!--                    </div>-->
<!--                    <div class="clearfix"></div>-->
<!--                </div>-->
            </div>
            <div class="media">
                <h3 class="tittle media">Last Blogs  <i class="glyphicon glyphicon-floppy-disk"></i></h3>
                {% for rs in lastBlogs %}
                <div class="general-text two">
                    <a href="/blog/{{rs.id}}/{{rs.slug}}"><img src="{{ rs.image.url }}" class="img-responsive" alt=""></a>
                    <h5 class="top"><a href="single.html">{{rs.title}}</a></h5>
                    <p>{{rs.detail | safe}}</p>
                    <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a
                            class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a
                            class="span_link" href="single.html"><span
                            class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<div class="clearfix"></div>