{% extends 'homebase.html' %}

{% block title%} {{blog.title}} {% endblock%}
{% block keywords%} {{blog.keywords}}  {% endblock%}
{% block description%} {{blog.description} {% endblock%}
{% block head%}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url}}'/> {%endblock%}
{% block header%} {% include 'header.html'%}{% endblock%}
{% block sidebar%} {% include 'sidebar.html'%}{% endblock%}

{% block content%}
<div class="col-md-9 main">
    <!--banner-section-->
    <div class="banner-section">
        <h3 class="top"><a href="/category/{{blog.category_id}}/{{blog.category.slug}}" style="text-decoration: underline"> CATEGORY_{{ blog.category }}</a></h3>
        <HR>

        <div class="single">
            <img src="{{ blog.image.url }}" class="" alt="" width="800" height="400" align="center"/>
            <hr>
            <h3 class="tittle">{{ blog.title }}<i class="glyphicon glyphicon-file"></i></h3>
            <br>
            <table>
                <tr>
                    <th>
                        Other Images
                    </th>
                </tr>
                {% for rs in images %}
                <tr>
                    <img src="{{ rs.image.url }}" height="100" width="100" alt="Avatar" style="border-radius:50%"/>
                </tr>
                {% endfor %}
            </table>
            <div class="b-bottom">
            </div>
        </div>
        <div class="single-bottom">
            <div class="single-middle">
                <h4> Post </h4>
                <ul class="social-share">
                    <li><span>{{ blog.detail | safe }}</span></li>
<!--                    <li><a href="#"><i> </i></a></li>-->
<!--                    <li><a href="#"><i class="tin"> </i></a></li>-->
<!--                    <li><a href="#"><i class="message"> </i></a></li>-->
                </ul>
<!--                <a href="#"><i class="arrow"> </i></a>-->
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="response">
            <h4>Responses</h4>
            {% for rs in comments %}
            <div class="media response-info">
                <div class="media-left response-text-left">
                    <a href="#">
                        <img class="media-object" src="images/sin1.jpg" alt=""/>
                    </a>
                    <h5><a href="#">{{rs.user.username}}</a></h5>
                </div>
                <div class="media-body response-text-right">
                    <p>{{ rs.comment }}</p>
                    <ul>
                        <li>
                        <li>{{ rs.created_on}}</li>
                        <li><a href="single.html">Reply</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}


        </div>
        <div class="coment-form">
            <h4>Leave your comment</h4>
            {% if messages %}
					{% for msg in messages %}
						<div class="alert alert-{{ msg.tags }}" role="alert"> {{ msg }}</div>

					{% endfor %}
				{% endif %}
            <form method="post" action="/blog/addcomment/{{blog.id}}/{{blog.slug}}/">
                {% csrf_token %}
                <input type="text" name="subject" id="id_subject" placeholder="subject">
                <input type="email" name="email" id="id_email" placeholder="email">
                <input type="text" name="website" id="id_website" placeholder="website">
                <textarea name="comment" id="id_comment" placeholder="comment here..."></textarea>

                {% if user.id is not None %}
                <input type="submit" value="Submit Comment">

                {% else %}
                You need Login for comment
                {% endif %}
            </form>

        </div>
        <div class="clearfix"></div>
    </div>
    <!--//banner-->
    <!--//banner-section-->

    {% endblock%}
    {% block banner%} {% include 'banner.html'%}{% endblock%}
    {% block footer%} {% include 'footer.html'%}{% endblock%}