{% extends 'homebase.html' %}

{% block title%} Contact{{setting.company}} {% endblock%}
{% block keywords%} {{setting.keywords}}  {% endblock%}
{% block description%} {{setting.description} {% endblock%}
{% block head%}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url}}'/> {%endblock%}
{% block header%} {% include 'header.html'%}{% endblock%}
{% block sidebar%} {% include 'sidebar.html'%}{% endblock%}
{% block slider%} {% include 'slider.html'%}{% endblock%}
{% block content%}
<div class="clearfix"> </div>

			 </div>
<br>

	<div class="col-4">
		<div class="row-md-5 ">
			<div class="top-news">
				<div class="top-inner">
					{{setting.contact|safe}}
				 </div>
			</div>
		</div>

			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
					{% endfor %}
				</ul>
			{% endif %}
		<div class="row-md-8" >
			<h1 align="center"> Contact Us </h1>
			<br><br>
			<form action="" method="post">
				{% csrf_token %}
				{{ form.as_p}}
				<br><input type="submit" value="Send MSG">
			</form>
		</div>
	</div>

</div>

 {% endblock%}
{% block banner%} {% include 'banner.html'%}{% endblock%}
{% block footer%} {% include 'footer.html'%}{% endblock%}