<script>

  $(function() {
    $("#query").autocomplete({
      source: "/search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }


</script>

<div class="h-top" id="home">
    <div class="top-header">
        <ul class="cl-effect-16 top-nag">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus" data-hover="About">About</a></li>
            <li><a href="/contactus" data-hover="CONTACT">Contact</a></li>
            <li><a href="/referance">Referances</a></li>
            <li><a href="services.html" data-hover="SERVICES">SERVICES</a></li>

            {% if user.id is not None %}
            <li><a href="/logout/" data-hover="logout">Logout</a></li>

            <li><a href="login.html" data-hover=" User:{{user.first_name }}"> User:{{user.first_name }}</a></li>

            {% else %}
             <li><a href="/login/" data-hover="Login">Login</a></li>
            <li><a href="/register/" data-hover="Registration">Registration</a></li>
            {% endif %}
        </ul>

        <div class="search-box">
            <div class="b-search">
                <form method="post" action="/search/">
                    {% csrf_token %}
                    <input name="query" id=" query" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value=" ">
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>