<div class="h-top" id="home">
    <div class="top-header">
        <ul class="cl-effect-16 top-nag">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus" data-hover="About">About</a></li>
            <li><a href="/contactus" data-hover="CONTACT">Contact</a></li>
            <li><a href="/referance">Referances</a></li>
            <li><a href="registration.html" data-hover="Registration">Registration</a></li>
            <li><a href="services.html" data-hover="SERVICES">SERVICES</a></li>
            <li><a href="login.html" data-hover="Login">Login</a></li>

        </ul>
        <div class="search-box">
            <div class="b-search">
                <form method="post" action="/search/">
                    {% csrf_token %}
                    <input type="text" value="Search" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Search';}" name="query">
                    <input type="submit" value=" ">
                </form>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>