{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> {% block title %}    Django Blog website  for git  {% endblock %}   </title>
    <meta name="keywords" content=" {% block keywords %} Anasayfasianahtar kelimeler {%endblock%}" />
    <meta name="description" content=" {% block description %} Anasayfa aciklama  {%endblock%}" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:700,700italic,800,300,300italic,400italic,400,600,600italic' rel='stylesheet' type='text/css'>
<!--Custom-Theme-files-->
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<script src="{% static 'js/jquery.min.js' %}"> </script>
<!--/script-->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll").click(function(event){
                        event.preventDefault();
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
                    });
                });
    </script>
        {% block head%} {% endblock%}
    </head>
    <body>
        {% block header%} {% endblock%}
        {% block sidebar%}  {% endblock%}
        {% block slider%}  {% endblock%}
        {% block content%} {% endblock%}
        {% block banner%} {% endblock%}
        {% block footer%} {% endblock%}

    </body>
    </html>