{% load static%}
<div class="col-md-9 main">
		<!--banner-section-->
		<div class="banner-section">
		   <h3 class="tittle">General <i class="glyphicon glyphicon-picture"></i></h3>
			<div class="banner">
                 <div  class="callbacks_container">
					<ul class="rslides" id="slider4">
					       <li>
							  <img src="{% static 'images/1.jpg'%}" class="img-responsive" alt="" />

							</li>
							<li>
								 <img src="{% static 'images/2.jpg'%}" class="img-responsive" alt="" />


							</li>
							<li>
							 <img src="{% static 'images/3.jpg'%}" class="img-responsive" alt="" />


							</li>
							<li>
							 <img src="{% static 'images/3.jpg'%}" class="img-responsive" alt="" />


							</li>
						</ul>
					</div>
					<!--banner-->
	  			<script src="{% static 'js/responsiveslides.min.js '%}"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager:true,
			        nav:true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
			  </script>