{% load static%}
<div class="col-md-9 main">
		<!--banner-section-->
		<div class="banner-section">
		   <h3 class="tittle">General <i class="glyphicon glyphicon-picture"></i></h3>
			<div class="banner">
                 <div  class="callbacks_container">
					<ul class="rslides" id="slider4">
						{% for rs in sliderdata %}
							<li>
								  <a href="/blog/{{rs.id}}/{{rs.slug}}"><img src="{{ rs.image.url}}"  width="800px"  height="200" /></a>
									<h2>{{ rs.description}}</h2>
								</li>

						{% endfor %}
						</ul>
					</div>
					<!--banner-->
	  			<script src="{% static 'js/responsiveslides.min.js '%}"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager:true,
			        nav:true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
			  </script>