{% extends 'user_profile.html'%}
{% block user_page %}

<div class="container">

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <form action="{% url 'useraddblog'  %}" ENCTYPE="multipart/form-data" method="POST" id="">
                {% csrf_token %}

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="title" class=" form-control-label">Blog title</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="title" id=" " class="form-control" value="">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="title" class=" form-control-label">Blog slug</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="slug" id="" class="form-control" value="">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>

                <div class="row form-group">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="title" class=" form-control-label">Category</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select id=" category" name="category" class="form-control">
                                {% for i in category %}
                                <option value="{{i.pk}}">{{i.title}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="title" class=" form-control-label">Auther</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" name="auther" id="keywords" class="form-control" value="">
                            <small class="form-text text-muted"></small>
                        </div>
                    </div>

<!--                    <div class="row form-group">-->
<!--                        <div class="col col-md-3">-->
<!--                            <label for="title" class=" form-control-label">Status</label>-->
<!--                        </div>-->
<!--                        <div class="col-12 col-md-9">-->
<!--                            <select id="product_categorie" name="status" class="form-control">-->

<!--                                <option value="0">True</option>-->
<!--                                <option value="1">False</option>-->

<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->


                    <div class="col col-md-3">
                        <label for="title" class=" form-control-label"> Keywords</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="keywords" id="title" class="form-control" value="">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="title" class=" form-control-label">Description</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="description" id="desc" class="form-control" value="">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>

                <div class="row form-group">

                    <div class="col col-md-3">
                        <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
                        <label for="title" class=" form-control-label">Detail</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea class="form-control" id="blog_description" name="detail"></textarea>
                        <script>
                        CKEDITOR.replace( 'blog_description' );


                        </script>

                    </div>
                </div>

                <div class="row form-group">

                    <div class="col col-md-3">
                        <label class=" form-control-label">Images</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="file" name="image" class="form-control">

                        <small class="form-text text-muted">Select Images </small>
                    </div>
                </div>


                <div>
                    <input type="submit" class="btn btn-primary floatright" value="add">
                </div>
                <div style="clear: right;"></div>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock%}